.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  > div {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    gap: calc(23px + 16px);
  }

  button {
    margin-top: 48px;
  }
}
